/* T-shaped piece */
.piece0 {
  position: absolute;
  background-color: #444444;
}

.piece1 {
  position: absolute;
  background-color: #884444;
}

.piece2 {
  position: absolute;
  background-color: #444488;
}

.piece3 {
  position: absolute;
  background-color: #448844;
}

.piece4 {
  position: absolute;
  background-color: #448888;
}

.piece5 {
  position: absolute;
  background-color: #888844;
}

.piece6 {
  position: absolute;
  background-color: #888888;
}


#gameContainer {
  position: absolute;
  top: 0;
  left:0;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}
