/* T-shaped piece */
.piece0 {
  position: absolute;
  background-color: #444444;
}

.piece1 {
  position: absolute;
  background-color: #884444;
}

.piece2 {
  position: absolute;
  background-color: #444488;
}

.piece3 {
  position: absolute;
  background-color: #448844;
}


#gameContainer {
  position: absolute;
  top: 0;
  left:0;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}
