/* T-shaped piece */
.piece0 {
  position: absolute;
  background-color: #444444;
}

.piece1 {
  position: absolute;
  background-color: #884444;
}

.piece2 {
  position: absolute;
  background-color: #444488;
}

.piece3 {
  position: absolute;
  background-color: #448844;
}

.piece4 {
  position: absolute;
  background-color: #448888;
}

.piece5 {
  position: absolute;
  background-color: #888844;
}

.piece6 {
  position: absolute;
  background-color: #888888;
}


#gameContainer {
  position: absolute;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}


#scoreContainer {
  position: absolute;
  top: 20;
  left: 100;
  font-family: 'Verdana';
  font-size: 10px;
}

#lineCountContainer {
  position: absolute;
  top: 40;
  left: 100;
  font-family: 'Verdana';
  font-size: 10px;
}

#levelContainer {
  position: absolute;
  top: 60;
  left: 100;
  font-family: 'Verdana';
  font-size: 10px;
}
